@mixin blockSize($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

@mixin displayFlex(
  $display: flex,
  $justifyContent: center,
  $alignItems: center,
  $flexDirection: row
) {
  display: $display;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}

#professional-project-global {
  @include blockSize();
  font-family: consolas;

  #professional-project-container {
    @extend #professional-project-global;
    @include displayFlex($flexDirection: column);
    margin-top: 80px;
  }
}

.professional-project-components {
  @extend #professional-project-container;
  .professional-project-components-card {
    @include blockSize($width: 80%, $height: 200px);
    @include displayFlex($justifyContent: none, $flexDirection: column);
    margin-top: 20px;
    background-color: white;
    cursor: pointer;
    transition: 0.5s;
    font-size: $h3-font-size;
    &:hover {
      transform: scale(1.1);
    }
    h3 {
      color: white;
      background-color: hsl(0, 0%, 13%);
      width: 100%;
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}

.professional-project-components-card--shadow-black {
  filter: drop-shadow(0 0 0.75rem black);
}
.cardModal {
  @include blockSize($width: 100%, $height: 100vh);
  @include displayFlex();
  position: absolute;
  background-color: rgba(0, 0, 0, 0.39);
  z-index: 3000;
}
.cardModalNone {
  display: none;
}

.containerModal {
  @include blockSize($width: 80%, $height: 55%);
  @include displayFlex(
    $justifyContent: none,
    $flexDirection: column,
    $alignItems: flex-start
  );
  background-color: white;
  position: relative;

  .logoContainer {
    width: 100%;
    @include displayFlex($justifyContent: center);
  }
  img {
    min-width: 10%;
    max-width: 10%;
  }
  .breakLine {
    @include blockSize($width: 100%, $height: 1px);
    background-color: black;

  }
  p {
    padding: 5px;
    text-align: start;
    span {
      display: block;
      padding: 5px;
    }
  }
  .exitModal {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 10px 0 0;
    color: black;
    cursor: pointer;
  }
  .iconModal{
    width: 100%;
  img{
    width: 50%;
    height: 50%;
  }
   
  }
}
