/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/

$header-height: 10%;

/*========== Colors ==========*/


/* Change favorite color */

$hue-color: 46;

/*Purple 250 - Green 142 - Blue 230 - Pink 340 - Yellow 46*/


/* HSL color mode */

$first-color: hsl($hue-color,
69%,
61%);
$first-color-second: hsl($hue-color,
69%,
61%);
$first-color-alt: hsl($hue-color,
57%,
53%);
$first-color-lighter: hsl($hue-color,
92%,
85%);
$title-color: hsl($hue-color,
8%,
15%);
$text-color: hsl($hue-color,
8%,
45%);
$text-color-light: hsl($hue-color,
8%,
65%);
$input-color: hsl($hue-color,
70%,
96%);
$body-color: hsl($hue-color,
60%,
99%);
$container-color: #FFF;
$scroll-bar-color: hsl($hue-color,
12%,
90%);
$scroll-thumb-color: hsl($hue-color,
12%,
80%);
$button-color-red: 0;
$button-color-green: 142;
$button-color-pink: 250;
$button-color-blue: 209;

/*========== Font and typography ==========*/

$body-font: 'Poppins',
sans-serif;

/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */

$calculationText: (0.01 * 10vmin);
$extra-big-font-size: calc(80 * #{$calculationText});
$big-font-size: calc(48 * #{$calculationText});
$h1-font-size: calc(24 * #{$calculationText});
$h2-font-size: calc(20 * #{$calculationText});
$h3-font-size: calc(18 * #{$calculationText});
$normal-font-size: calc(15 * #{$calculationText});
$small-font-size: calc(13 * #{$calculationText});
$smaller-font-size: calc(12 * #{$calculationText});

/*========== SVG size ==========*/

$extra-small-svg-size: 1rem;
$small-svg-size: 25px;
$medium-svg-size: 50px;
$big-svg-size: 100px;

/*========== Font weight ==========*/

$font-medium: 500;
$font-semi-bold: 600;

/*========== Margenes Bottom ==========*/


/* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */

$mb-0-25: .25rem;
$mb-0-5: .5rem;
$mb-0-75: .75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;
$mb-3: 3rem;

/*========== z index ==========*/

$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;
* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: $body-font;
    font-size: $normal-font-size;
    background-color: $body-color;
    color: black;
}

@mixin animationTxt {
    position: relative;
    overflow-x: hidden;
    transform: translateY(0%);
    animation: 2s invocTxtY;
    font-size: calc(32 * (0.01 * 10vmin));
    @keyframes invocTxtY {
        from {
            transform: translateY(120%);
        }
        to {
            transform: translateY(0%);
        }
    }
    &::before {
        content: "";
        background-color: $first-color;
        width: 120%;
        left: -150%;
        height: 100%;
        position: absolute;
        animation: 2s invocTxt;
        @keyframes invocTxt {
            from {
                left: -150%;
            }
            to {
                left: 100%;
            }
        }
    }
}

:export {
    extraSmallSvgSize: $extra-small-svg-size;
    smallSvgSize: $small-svg-size;
    mediumSvgSize: $medium-svg-size;
    bigSvgSize: $big-svg-size;
    firstColor: $first-color;
}